<form action="/todo/update/<%=todo.id%>" method="POST" class="form-todo">
</br>
<h2 style="margin-left:15%""> Edit Task !! </h2> </br>

<center> <input value="<%= todo.content %>" type="text" name="content" placeholder=" Edit a task, then press Enter .." style="width:70%; height:50px; font-size:30px;"/> </center>
</br>
</br>
</br>

</form>