<div class="container">
<form action="/customer/create" method="POST" id="form-signup" class="form-signin">

	<h2 class="form-signin-heading"> Create an account </h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-danger">
		<% Object.keys(flash.err).forEach(function(error) { %>
			<li> <%- JSON.stringify(flash.err[error]) %> </li>
			<% }) %>
		</ul>
		<% } %>



	<input type="text" class="form-control" placeholder="your name" name="name"/>
	
	<input type="text" class="form-control" placeholder="email address" name="email"/>
	
	<input type="password" name="password" id="npassword" class="form-control" placeholder="password" />
	
	<input type="password" class="form-control" placeholder="password confirmation" name="confirmation"/>
	

	<br/>
	<input type="hidden" class="form-control" name="role" value="User"/>
	
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
	
	<input type="hidden" name ="_csrf" value="<%=_csrf %>" />

</form>
</div>