<div class="container">
	<h1><%= customer.name %> </h1>
	<h3><%= customer.name %> </h3>
	<hr>
	<h3>contact:<%= customer.email %></h3>
	<a class="btn btn-medium btn-primary" href="/customer/edit/<%=customer.id %>">Edit</a>
</div>
