<div class="container">
	<br/>
	<div class="jumbotron">
		<center>
			<br/>	
			<h1>ToDo_App </h1><br/>
			<h4>...Sailing on Sails.js...</h4><br/>
			<div>
				<a href="/customer/new" class="btn btn-lg btn-success"> Sign up now! </a>
			 </div>
		</center>
	</div>
</div>
